* {
  box-sizing: border-box;
}


body {
  padding: 0px;
  margin: 0px;   /* prevents site from expanding to the edge of the screen */
  
  font-family: "Rokkitt",Helvetica,Arial,sans-serif;
  color: #6B797F;
  width: 100%;
  
}

img {
  display: block;   /* takes out spaces between images */
  width: inherit;
}


header {
  top: 0;  /* set the top to 0, the position to fixed, and the height to some px that matches the margin-top of the  div just below this to have a fixed header */
  background: #2C4A47; /* dark green - matches the background color to the color of the image */
  position: fixed;
  z-index: 10;
  height: 60px;
  width: 100%;
}

header img {
  height: 60px;
}
header #menu {
  position: absolute;
  top: 0;
  right: 0;
}

#primary {
  margin-top: 60px; /*must match the height of the fixed header above*/
  width: inherit;
} 

#hero-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  
}

#mountains, #lake, #trees, #logo, #date {
  position: absolute;
  left: 50%;
  margin-left: -403px;
  height: inherit;
/*  top: 0;
  left: 0;
  width: inherit;*/
}

#mountains {
  z-index: 1;
}

#lake {
  z-index: 2
}

#trees {
  z-index: 3
}

#logo, #date {
  z-index: 4;
}

#hero-container #mountains img, #hero-container #lake img, #hero-container #trees img {
  height: inherit;
}

#hero-container #kaneko {
  max-width: inherit;
  position: relative;
  top: 320px;
  text-align: center;
  color: #396C55;
  z-index: 8;
  line-height: 1.4em;
  margin: 0px;
}

#hero-container #kaneko h3 {
  font-size: 28px;
  margin: inherit;
}

#hero-container #kaneko p {
  font-size: 20px;
  margin: inherit;
}

#hero-container #date img {
  width: 50%;
  position: relative;
  left: 85%;
  top: 310px;
  
}

#aiga {
  background: #536463; /* grey - matches the background color to the color of the image */
  padding-top: 7px;    /* grey should be a little sliver above and below the picture.  Ad padding */
  padding-bottom: 7px;
  max-height: 50px;
}

#aiga img {
  margin-left: auto;   /*margin left & right to auto centers a box element */
  margin-right: auto;
  max-height: 50px;
}

#register-bird {
  position: relative;
  height: 129px;
  text-align: center;
}

#register-bird #bird img {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  height: 42px;
  margin-top: -20px;
}
#register-bird #lines img{
  position: absolute;
  left: 50%;
  margin-left: -230px;
  opacity: 1;
}

#register-bird #register {
  border-radius: 50px;  /*rounded button */
  background: #6BA235; /*bright green */
  color: white;
  font-size: 20px;
  height: 55px;
  width: 200px;
  text-align: center;
  vertical-align: middle;  /* center text vertically in element */
  line-height: 55px;       /*same as height of element */
  display: inline-block;
  margin-top: 20px;
}

#register-bird #register:hover {
    background: #A7C887;
}

#register-bird #cost {
  display: block;
  color: #6BA235;
  font-size: 80px;
  position: relative;

}

#register-bird #cost p {
  position: absolute;
  top: 36px;
  left: 46%;
  font-size: 36px;
  top: -20px;
  left: 40%;
}


.space {
  padding: 10%;
}

h1 {
  line-height: 40px;
  font-size: 36px;
  color: #384B62;
}

p {
  line-height: 28px;
  font-size: 20px;
}

.text {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
}

#dashes {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 10px;
  background-image: url("./assets/page1/dash-horizontal.png");
  background-repeat: repeat-x;
}

.straight-line {
  width: 90%;
}



#talks-organized {
  text-align: center;
}

.talk-type {
 color: #6C5029; 
 line-height: 2em;
 font-size: 16px;
 font-family: "proxima-nova", Arial,sans-serif;
 text-align: center;
 width: 390px;
 margin-right: auto;
 margin-left: auto;
 border-bottom: 2px #DDDDDD solid;
}


.talk-type img {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.talk-type ul {
  list-style-type: none;
  margin: 0px auto;
  padding: 0px;
}

.talk-type h3 {
  color: #6BA236;
  font-size: 20px;
  line-height: 1.45em;
}


#event-schedule {
  background-image: url("./assets/page3/board.jpg");  /*wood repeats 13 times down.  Set height to 250*13 */
  height: 3250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#event-schedule img {
  padding-top: 50px;
  width: 85%;
  max-width: 468px;
  margin-left: auto;
  margin-right: auto;
}

#event-schedule .event {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#event-schedule h1 {
  color: #EDC542; /*yellow text */
  line-height: .50;
  font-size: 45px;
}

#event-schedule h3 {
  color: white;
  font-size: 20px;
  line-height: 1.4em;
}

#event-schedule .time {
  font-family: "proxima-nova", Arial,sans-serif;
  color: white;
}

#event-schedule .time h2 {
  font-size: 22px;
  line-height: 1.27em;
}

#event-schedule .time p {
  font-size: 14px;
  line-height: 1.71em;
}

#event-schedule .time .hour {
  font-family: "Rokkitt",Helvetica,Arial,sans-serif;
  color: white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  border: #D1582C 2px solid; /*red circle */
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
}

#event-schedule .time .hour div {
  font-size: 18px;
  color: white;
  height: 20px;
}

#event-schedule .space {
  padding: 25px;
}


#faq {
  background: #CAECF8; /*background color light blue*/
  color: #764C31; /*text color brown to match FAQ */
  min-height: 900px;
  position: relative;

}

#faq #faq-img img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#faq #faq-questions {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  list-style-image: url("./assets/page4/plus-bullet.png");
  font-family: "Rokkitt",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
}

#faq #faq-questions li {
  padding-top: 20px;
  padding-bottom: 20px;
}


#faq #treehouse {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  max-width: 450px;
}

#sponsor {
  background: transparent url("./assets/page5/footer.png") repeat-x scroll center bottom / 1700px 1472px;
  position: relative;
  height: 800px;
  overflow: hidden;
}

.sponsor-img {
  position: absolute;
  width: 932px;
  left: 50%;
  bottom: 0px;
  margin-left: -467px;
}

#sponsor #register-last-page {
  left: 50%;
  margin-left: -100px;
  width: 200px;
  bottom: 50px;
/*200 x 75 px*/
}

#register-last-page a {
  position: absolute;
  height: 80px;
  top: 55px;
  width: 100%;
}


@media (min-width: 900px) {
   #at-bar-camp, #register-bird {
    width: 50%;
    float: left;
  }
}

@media (max-width: 780px){
  #hero-container {
    height: 435px;
  }
  
  #hero-container #logo img {
    height: 70%;
    position: relative;
    left: 50%;
    bottom: -7%;
    margin-left: 117px; 
    /*(-420px, which is 70% of the width + 403px, which is the width of half of the background image.)*/
  }
}

@media (min-width: 780px) {
  #hero-container {
    width: 100%;
  }
  #hero-container .background-image {
    left: 0px;
    top: 0px;
    margin-left: 0px;
    width: 100%;
  }
  
  #hero-container #logo {
    left: 50%;
    width: 50%;
    margin: 70px 0px 0px -12.5%;
    margin-top: 4%
  }
  
  #hero-container #kaneko {
    top: 0px;
    padding-top: 40%;
  }
  
  #hero-container #date img {
    top: 0px;
  }
  
  #aiga {
    position: relative;
  }
  
  #aiga img {
    position: absolute;
    right: 0px;
    z-index: 8; 
  }
  
  .talk-type {
    float: left;
    width: 50%;
    border-left: 1px #DDDDDD solid;
    border-right: 1px #DDDDDD solid;
  }
  
  #sponsor #register-last-page {
    width: 50%;
    margin-left: -10%;
  }
  
  
  #register-last-page a {
    height: 30%;
    top: 22%;
    width: 50%;
  }
}

@media (min-width: 900px) {
  
  .talk-type {
    width: 25%;
    border: none;
  }
  
  .space {
    padding: 7%;
  }
  
  #event-schedule {
    height: 1700px;
  }
  
  #event-schedule .event {
    float: left;
    width: 40%;
    padding: 0 5%;
  }
  
  #faq #treehouse {
    padding-left: 30%;
    width: auto;
    max-width: none;
    position: relative;
  }
  
  #treehouse img {
    width: auto;
    padding-right: 400px;
  }
}